
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#lewygorny, 
#lewatywa, 
#prawak, 
#prawydolny{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left; 
    box-sizing: border-box;
}


#lewygorny a, 
#lewatywa a {
    background-image: url('cukierki1.jpg');
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
    display: inline-block;
}


#baner, 
header, 
footer {
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    clear: both; 
    box-sizing: border-box;
}

#lewatywadolna, 
#dolnyprawak, 
#lawydolny, 
#prawydolnykwadrat{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
    box-sizing: border-box;
}


table, td, th {
    border: 2px dashed green;
    padding: 20px;
}

table {
    margin: 30px;
    border-collapse: collapse;
}


h1 {
    letter-spacing: 20px;
    font-size: 250%;
    margin: 0;
}